<!DOCTYPE html>
<html>
<head>
  <title>weFitBit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <h3>weFitBit</h3>
      <div class="pull-right">
        <% if current_user %>
          <%= link_to "Sign Out", sign_out_path %>
          <%= "#{current_user.user_name}" %>
        <% else %>
          <%= link_to "Sign Up", sign_up_path %>
          <%= link_to "Sign In", sign_in_path %>
        <% end %>
      </div>
    </div>
  </nav>
<br />
<br />
<br />
<br />
<br />

<div class="container">

  <%= flash[:notice] %>

<%= yield %>

</div>

</body>
</html>
